<section class="new-training" fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
      <mat-card fxFlex.xs="100%" fxFlex="400px">
          <mat-card-title fxLayoutAlign="center"
            >Time to start workout</mat-card-title
          >
          <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
              <mat-select placeholder="Select Exercise" ngModel name="exercise" required>
                <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                  {{ exercise.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <button
              mat-button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="f.invalid"
            >
              Start!
            </button>
          </mat-card-actions>
        </mat-card>
  </form>
 
  
</section>
<section class="add-new-exercise" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="20px">
    <form
      fxLayoutGap="10px"

      [formGroup]="newExerciseForm"
      (ngSubmit)="onAddExercise()"
    >
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Exercise name"
          formControlName="newExercise"
        />
        <mat-hint>Please add exercise </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Calories"
          formControlName="newExerciseCalories"
        />
        <mat-hint>Please add a number of calories</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Duration"
          formControlName="newExerciseDuration"
        />
        <mat-hint>Please add exercise duration</mat-hint>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        [disabled]="newExerciseForm.invalid"
        color="primary"
      >
        Submit
      </button>
    </form>  
</section>
