<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Fitness Tracker</a>
  </div>
  <div fxLayout fxFlex fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="navigation-items" fxLayout fxLayoutGap="10px">
      <li><a routerLink="/signup" *ngIf="!isAuth">Sign up</a></li>
      <li><a routerLink="/login" *ngIf="!isAuth">Login</a></li>
      <li><a routerLink="/training" *ngIf="isAuth">Training</a></li>
      <li>
        <a style="cursor: pointer;" *ngIf="isAuth" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
